/* Default background for light mode */

.about {
    &.darkMode {
        color: white;
    }

    color:black;
}

/* Default button background */



/* Background color for dark mode */


/* Links */
.links {
    &.darkMode {
        color: white;
        /* Dark mode text color */
    }

    color: black;
    /* Default text color */
    font-size: 16px;
    margin-left: 40px;
}

/* Navbar */
.navBarDiv {
    &.darkMode {
        background-color: #333;
        /* Dark mode navbar */
    }

    background-color: white;
    /* Default navbar background */
    width: 100%;
    padding: 25px;
    margin-left: -30px;
}

/* Buttons */
button {
    &.darkMode {
        background-color: #23292e;
        /* Dark mode button background */
        color: white;
    }

    background-color: rgb(253, 253, 253);
    color:black;
    /* Default button background */
    font-size: 12px;
    margin-left: 40px;
    border: 0px;
    padding: 10px;
}